@model ProjectSoccer.Models.Club

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<div>
    <h4>Club</h4>
    <hr />
    <dl class="row text-xl-start">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ShortName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ShortName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Logo)
        </dt>
        <dd class="col-sm-10" style="glyph-orientation-horizontal">
            <img src="@Html.DisplayFor(model => model.Logo)" alt="Image description" style="max-width: 30px" />
        </dd>
    </dl>
</div>
<div>
    <input type="text" class="form-control" id="txtClubName" placeholder="@Model.Name" />
    <br />
    <input type="text" class="form-control" id="txtClubShortName" placeholder="@Model.ShortName" />
    <br />
    <input type="text" class="form-control" id="txtClubLogo" placeholder="@Model.Logo" />
    <br />
    <button type="button" id="btn-update" class="btn btn-outline-success col-form-label-sm"><i class="bi bi-pencil"></i> Update</button>
</div>
<br />
<div>
    <a asp-action="Details" asp-route-id="@Model?.Id">Details</a>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            $("#btn-update").click(function () {
                let club = {
                    Name: $("#txtClubName").val(),
                    ShortName: $("#txtClubShortName").val(),
                    Logo: $("#txtClubLogo").val()
                };

                $.ajax({
                    type: "PUT",
                    url: `/Clubs/Update/${@Model.Id}`,
                    data: JSON.stringify(club),
                    contentType: "application/json",
                    success: function (response) {
                        console.log(club);
                        alert("The club is updated!");
                    },
                    error: function (xhr, status, error) {
                        console.log(xhr.responseText);
                    }
                });

            });
        });
    </script>
}