@model ProjectSoccer.Models.Player

@{
    ViewData["Title"] = "Edit";
    
}
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<h1>Edit</h1>

<div>
    <h4>Player</h4>
    <hr />
    <dl class="row text-xl-start">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentClub)
        </dt>
        <dd class="col-sm-10" style="glyph-orientation-horizontal">
            <img src="@Html.DisplayFor(model => model.CurrentClub)" alt="Image description" style="max-width: 30px" />
        </dd>
    </dl>
</div>
<form>
    Name: 
    <input type="text" class="form-control" id="txtPlayerFirstName" placeholder="@Model.FirstName" value="@Model.FirstName" />
    <br />Surname: 
    <input type="text" class="form-control" id="txtPlayerLastName" placeholder="@Model.LastName" value="@Model.LastName" />
    <br />Date (*Required): 
    <input type="date" class="form-control" id="txtPlayerDateOfBirth" placeholder="@Model.DateOfBirth" required />
    <br /> Club Id (*Required):
    <input type="text" class="form-control" id="txtPlayerClubId" placeholder="@Model.ClubId" required value="@Model.ClubId"/>
    <br />
    <button type="submit" id="btn-player-update" class="btn btn-outline-success col-form-label-sm"><i class="bi bi-pencil"></i>Update</button>
</form>
<br />
<div>
    <a asp-action="Details" asp-route-id="@Model?.Id">Details</a>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#btn-player-update").click(function () {
                let player = {
                    FirstName: $("#txtPlayerFirstName").val(),
                    LastName: $("#txtPlayerLastName").val(),
                    DateOfBirth: $("#txtPlayerDateOfBirth").val(),
                    ClubId: $("#txtPlayerClubId").val()
                };

                $.ajax({
                    type: "PUT",
                    url: `/Players/Update/${@Model.Id}`,
                    data: JSON.stringify(player),
                    contentType: "application/json",
                    success: function (response) {
                        console.log(player);
                        alert("The player is updated!");
                    },
                    error: function (xhr, status, error) {
                        console.log(xhr.responseText);
                        var clubid = parseInt(player.ClubId);
                        if (isNaN(clubid)) {
                            alert("Invalid input!")
                        }
                    }
                });
            });
        });
    </script>
}
